{% extends "base.html" %}
{% load seitentags %}

{% block content %}
  <h2>Wettbewerb {% listeneintrag wettbewerb request %}</h2>
  <p>{{ wettbewerb.description }}</p>
  <p>Es {% null_ein_viele wettbewerb.erfolge.count "ist kein Erfolg" "ist nur ein Erfolg" "sind {} Erfolge" %} bei diesem Wettbewerb erzielt worden:</p>
  <ul>
    {% for e in wettbewerb.erfolge.all %}
      <li>
        {% if e.person %}
          {% listeneintrag e.person request %}
        {% else %}
          {{ e.nur_name }}
        {% endif %}
         - {{ e.art }}
        {% listeneintrag e request True %}
      </li>
    {% endfor %}
    {% if not request.user.person in wettbewerb.personen.all %}
      <li><a style="color: gray;" href="mich_eintragen/">[meinen Erfolg eintragen]</a></li>
    {% endif %}
  </ul>

  {# Links zur Veranstaltung und anderen Wettbewerben der Veranstaltung #}
  {% if wettbewerb.veranstaltung %}
  Der Wettbewerb hat im Rahmen der Veranstaltung {% listeneintrag wettbewerb.veranstaltung request %} stattgefunden.
    {% ifnotequal wettbewerb.veranstaltung.wettbewerbe.count 1 %}
    <p>Weitere Wettbewerbe auf dieser Veranstaltung:</p>
    <ul>
      {% for w in wettbewerb.veranstaltung.wettbewerbe.all %}
        {% ifnotequal w wettbewerb %}
          <li>{% listeneintrag w request %}</li>
        {% endifnotequal %}
      {% endfor %}
    </ul>
    {% endifnotequal %}
  {% endif %}

  {# Link zur nächsten/vorherigen Runde #}
  {% if fortsetzung %}
    <p>Zur nächsten Runde: {% listeneintrag fortsetzung request %}</p>
  {% endif %}
  {% if vorherige %}
    zu Wettbewerben der vorherigen Runde:
    {% for w in vorherige %}
      <ul>
        <li>{% listeneintrag w request %}</li>
      </ul>
    {% endfor %}
  {% endif %}
  {% if nachbarn %}
    <p>Gleichzeitig finden andere Wettbewerbe zu dieser Wettbewerbsrunde statt:</p>
    <ul>
      {% for w in nachbarn %}
        <li>{% listeneintrag w request %}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if wettbewerb.kommentarliste %}{% include 'Kommentare/kommentarliste.html' with liste=wettbewerb.kommentarliste %}{% endif %}
{% endblock %}
