{% extends "base.html" %}

{% block content %}
<h2>Veranstaltung {{ veranstaltung.name }} ({{ veranstaltung.art }})</h2>
  <p>{{ veranstaltung.beschreibung }}</p>
  <p>Es sind folgende {{ veranstaltung.teilnahmen.count }} Teilnahmen an der Veranstaltung bekannt:</p>
  <ul>
    {% for t in veranstaltung.teilnahmen.all %}
      <li>
        {% if t.person %}
        <a href="{% url 'Wettbewerbe:eine_person' t.person.pk %}">{{ t.person.name }}</a>
        {% else %}
          {{ t.nur_name }}
        {% endif %}
         - {{ t.art }}
      </li>
    {% endfor %}
    {% if request.user.username == 'admin' %}
      <li><a style="color: gray;" href="person_eintragen/">[neue Teilnahme eintragen]</a></li>
    {% elif 'spam' %}
      <li><a style="color: gray;" href="mich_eintragen/">[meine Teilnahme eintragen]</a></li>
    {% endif %}
  </ul>
  {% if veranstaltung.wettbewerbe.all %}
  <p>Es sind folgende Wettbewerbe bei dieser Veranstaltung ausgetragen worden</p>
  <ul>
    {% for w in veranstaltung.wettbewerbe.all %}
      <li><a href={{ w.get_absolute_url }}>{{ w.name }}</a>
      {% if w.erfolge.all %}
        <br />Folgende Erfolge wurden dabei erreicht
        <ul>
          {% for e in w.erfolge.all %}
            <li>
              {% if e.person %}
              <a href="{% url 'Wettbewerbe:eine_person' e.person.pk %}">{{ e.person.name }}</a>
              {% else %}
                {{ e.nur_name }}
              {% endif %}
               - {{ e.name }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if veranstaltung.kommentarliste %}{% include 'Kommentare/kommentarliste.html' with liste=veranstaltung.kommentarliste %}{% endif %}
{% endblock %}
