{% extends "base.html" %}
{% load seitentags %}

{% block zusatz_css %}
<style>
  article {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  fieldset.kategorie {
    display: flex;
    display: -webkit-flex;
    border-radius: 6pt;
    margin: 7px 9px 4px 4px;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    flex: 1 36ex;
  }
</style>
{% endblock %}

{% block content %}
  {% for name, liste in kategorien %}
    <fieldset class="kategorie">
      <legend>{{ name }}</legend>
        {% for objekt in liste %}
        <div>{% listeneintrag objekt request %}<div>
        {% endfor %}
    </fieldset>
  {% endfor %}
{% endblock %}
